# Globale InfluxDB-Umgebungsvariablen für alle Apps
x-influx-env: &influx-env
  INFLUX_URL: http://localhost:8087
  INFLUX_TOKEN: smartkip-token
  INFLUX_ORG: smartKIP
  INFLUX_BUCKET: sensor_data

# Globale MariaDB-Umgebungsvariablen für alle Apps
x-mariadb-env: &mariadb-env
  MARIADB_USER: root
  MARIADB_PASSWORD: wohnwagen
  MARIADB_HOST: localhost
  MARIADB_DBNAME: wohnwagen
  MARIADB_PORT: "3307"

# Globaloe Umgebungsvariablen für control_actuator
x-tapo-env: &tapo-env
  TAPO_USER: ludwig.jakob91@googlemail.com
  TAPO_PASSWORD: K1Pwohnwagen


services:
  smart_kip_web_app:
    build: ../smart_kip_web_app
    container_name: web-app
    restart: unless-stopped
    network_mode: host
    env_file: ../smart_kip_web_app/.env
    environment:
      <<: *influx-env
      <<: *mariadb-env
    depends_on:
      - mariadb
      - influxdb



  smart_kip_control_actor:
    build: ../smart_kip_control_actor
    container_name: control-app
    restart: unless-stopped
    network_mode: host
    privileged: true
    devices:
      - /dev/gpiomem
    env_file: ../smart_kip_control_actor/.env
    environment:
      <<: *mariadb-env
      <<: *influx-env
      <<: *tapo-env
    depends_on:
      - mariadb
      - influxdb



  smart_kip_sensor_data:
    build: ../smart_kip_sensor_data
    container_name: sensor-app
    restart: unless-stopped
    network_mode: host
    env_file: ../smart_kip_sensor_data/.env
    environment:
      <<: *mariadb-env
      <<: *influx-env
    depends_on:
      - mariadb
      - influxdb



  smart_kip_analyze_data:
    build: ../smart_kip_analyze_data
    container_name: analyze-app
    restart: unless-stopped
    network_mode: host
    env_file: ../smart_kip_analyze_data/.env
    environment:
      <<: *mariadb-env
      <<: *influx-env
    depends_on:
      - mariadb
      - influxdb



  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: wohnwagen
      MYSQL_DATABASE: wohnwagen
      MYSQL_USER: root
      MYSQL_PASSWORD: wohnwagen
    ports:
      - "3307:3306"   # Host-Port 3307 → Container-Port 3306
    volumes:
      - mariadb_data:/var/lib/mysql

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    network_mode: host
    environment:
      INFLUXD_HTTP_BIND_ADDRESS: ":8087"   # Neue InfluxDB läuft auf Port 8087
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: wohnwagen
      DOCKER_INFLUXDB_INIT_ORG: smartKIP
      DOCKER_INFLUXDB_INIT_BUCKET: sensor_data
      DOCKER_INFLUXDB_INIT_RETENTION: 7d
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: smartkip-token
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - influxdb_config:/etc/influxdb2


volumes:
  mariadb_data:
  influxdb_data:
  influxdb_config: