version: "3.9"

services:
  smart_kip_web_app:
    build: ../smart_kip_web_app
    container_name: web-app
    restart: unless-stopped
    network_mode: host
    env_file: ../smart_kip_web_app/.env

  smart_kip_control_actor:
    build: ../smart_kip_control_actor
    container_name: control-app
    restart: unless-stopped
    network_mode: host
    privileged: true
    devices:
      - /dev/gpiomem
    env_file: ../smart_kip_control_actor/.env

  smart_kip_sensor_data:
    build: ../smart_kip_sensor_data
    container_name: sensor-app
    restart: unless-stopped
    network_mode: host
    env_file: ../smart_kip_sensor_data/.env